<div class="row">
    <form class="col s12 post-create-form">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Enter Title" id="post_title" type="text" class="validate">
          <label for="first_name">Title</label>
        </div>
        <div class="input-field col s6">
            <textarea placeholder="Post Content" id="postContent" class="materialize-textarea"></textarea>
            <label for="postContent">Description</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
      </div>
    </form>
</div>
<script src="/js/create.js"></script>