<div class="row valign-wrapper">
    <h3 class="col">My Posts</h3>
    <a href="/dashboard/create"><button style="margin-top: 20px;" class="col btn btn-primary">New Post</button></a>
</div>
<div class="row collection">
    {{#each posts as | post |}}
    <a href="/dashboard/posts/{{id}}" class="collection-item">{{post_title}}</a>
    {{/each}}
</div>